* {
  margin: 0;
  padding: 0;
}

#container{
	margin: 1em;
	background-color: #eee;
	border: 1px solid gray;
	padding: 20px;
	overflow:auto;
}
#left-container{
	width:200px;
	float:left;
	border: 1px solid gray;
	box-sizing: border-box;
	padding: 20px;
	background:white;
	overflow:auto;
}

#left-container img{
	float: left;
	margin:0;
}

#left-container span{

	padding:0px 0px 0px 100px;
	font-weight:bold;
	text-align: center;
	display:block;
}

.Logo{
	width:80px;
	height:80px;
	margin-top: 20px;
}

#mid-container{
	margin-left:220px;
	margin-right:140px;
	display:block;
	background:white;
}

#right-container{
	width:120px;
	height:436px;
	float:right;
	border:1px solid gray;
	padding:0px 20px 20px;
	box-sizing: border-box;
	background:white;
}


#right-container ul{
	list-style-type: none;
}

#mid-container{
	box-sizing: border-box;
	padding: 20px;
	border:1px solid gray;
}

#mid-container h1{
	font-size:20;
	font-weight:bold;
}

#mid-container h1:first-child{
	padding-bottom: 20px;
	text-align:center;
}

@media (max-width: 768px) {
	#container div {
    background-color: #fff;
    width: 100% !important;
    height:auto;
    margin-bottom: 20px;
    float:none;
    margin:20px 0;
}
@media (max-width: 768px) {
	li {
	display:inline;
	margin-right:20px;
}